<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Blog with NodeJS</title>

    <%- include('partials/head') %>
        
</head>
<body>
    <%- include('partials/nav') %>
    <div class="container">
        <h1 class="mb-1"><%= article.title %></h1>
        <div class="text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">edit</a>
        <a href="/articles" class="btn btn-secondary">all articles</a>

        <div>
            <%- article.sanitizedHtml %>
        </div>
    </div>
</body>
</html>